@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

[data-theme="dark"] {
  /* --primary: #8b5cf6;
  --secondary: #f472b6;
  --base-100: #111827;
  --text-base: #ffffff; */
  --color-accent-content: #1f2937;
  --color-base-100: #1f2937;
}


html{
  @apply bg-base-200;
}

h1, .h1{
  @apply text-5xl max-[800px]:text-4xl max-[600px]:text-3xl max-[400px]:text-2xl;
}


h2, .h2{
  @apply text-4xl max-[800px]:text-3xl max-[600px]:text-2xl max-[400px]:text-xl;
}


h3, .h3{
  @apply text-3xl max-[800px]:text-2xl max-[600px]:text-xl max-[400px]:text-lg;
}


.navbar{
  @apply border-b border-b-base-300;
}
.navbar h1{
  @apply max-[450px]:text-2xl max-[400px]:text-[22px];
}

.navbar .active{
  @apply border-b-2;
}


.container {
  @apply w-9/10 mx-auto max-w-[1440px]
}